@font-face {
  font-family: 'CircularStd';
  src:
      local('CircularStd'),
      url('/static/fonts/CircularStd-Light.woff') format('woff'),
      url('/static/fonts/CircularStd-Light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src:
      local('CircularStd'),
      url('/static/fonts/CircularStd-Medium.woff') format('woff'),
      url('/static/fonts/CircularStd-Medium.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src:
      local('CircularStd'),
      url('/static/fonts/CircularStd-Black.woff') format('woff'),
      url('/static/fonts/CircularStd-Black.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;